<% ticker = @entry.public_send("#{ticker_slot}_ticker") %>
<li class="entry-ticker">
    <div class="ticker-slot">
        <%= ticker_slot.humanize[0..3] %>
    </div>
    <div class="ticker-pick">
        <%= ticker.try('display_name') || 'Not selected' %>
    </div>

    <% latest_change = ticker.try('latest_change') || 0 %>
    <div class="return <%= latest_change > 0 ? 'green' : 'red' %>">
        <%= latest_change %>
    </div>
</li>
