<li class="entry-ticker">
    <div class="ticker-slot">
        <%= ticker_slot.humanize[0..3] %>
    </div>

    <div class="ticker-pick">
    <% if @entry.public_send("#{ticker_slot}_ticker") %>
        <div class="ticker edit">
            <%= @entry.public_send("#{ticker_slot}_ticker").name %>
        </div>
    <% else %>
        <div class="ticker add">
            Add a ticker
        </div>
    <% end %>
    </div>

    <div class="link">
        <% if @entry.public_send("#{ticker_slot}_ticker") %>
            <%= link_to '', edit_match_entry_ticker_path(@match, @entry, ticker_slot), class: 'right-arrow' %>
        <% else %>
            <%= link_to '', edit_match_entry_ticker_path(@match, @entry, ticker_slot), class: 'right-arrow'%>
        <% end %>
    </div>
</li>
