<h1>Ticker <%= @ticker.name %></h1>

<div class="chartContainer" style="width:400px;height:200px;position:relative;"></div>
<div class="sentiment">
    Bullish Intensity: <%= @ticker.sentiment.bullish_intensity %>
</div>


<script type="text/javascript">

$(document).ready(function() {

    var stxx = new STXChart({container: $$$(".chartContainer"), 
        layout: { chartType: "colored_line", crosshair: true },
        preferences: { whitespace: 1, magnet: true}});
    
    stxx.newChart("<%= @ticker.symbol %>", <%= raw @ticker.chart_data.to_json %>);

});

</script>