<div>
    <h2>Match info</h2>
    <ul>
        <li>
            Start: <%= @match.start_at %>
        </li>
        <li>
            Duration: <%= @match.duration %> business days
        </li>
        <li>
            Max players: <%= @match.max_entries %>
        </li>
        <li>
            Total players: <%= @match.entries.count %>
        </li>
    </ul>
</div>