@import "bootstrap-sprockets";
@import "bootstrap";
@import "chartiq";

$black: #262626;
$blue: #4A90E2;
$green: #7ED321;
$red: #F0384E;

body {
  background: $black;
}

.flash-container {
  position: relative;
  .flash {
    position: absolute;
    left: 25%;
    margin: 40px auto;
    background: white;
    color: black;
    padding: 60px 40px;
    opacity: 0.75;
    border-radius: 4px;
    text-align: center;

    &.success {
      &:before {
        content: asset_url('check_large.png');
        display: block;
      }
    }
    p {
      margin-top: 20px;
    }
  }
}

.login-wrapper {
  margin: 0 auto;
  h1, .logo {
    text-align: center;
  }
  .logo {
    margin: 0 auto;
  }
}
