@import "bootstrap-sprockets";
@import "bootstrap";
@import "chartiq";

$black: #262626;

body {
  background: $black;
}

.login-wrapper {
  margin: 0 auto;
  h1, .logo {
    text-align: center;
  }
  .logo {
    margin: 0 auto;
  }
}
